.product-info-main{
    width: 100%;
    padding: 100px;
}
.product-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.product-similar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-similar-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary);
}
.similar-product-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}