/* --- RESET --- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  font-family: inherit;
}